<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
</head>
<body>
  <h1>Projects</h1>
  <ul>
    <% @projects.each do |project| %>
    <li><%= project.name %></li>
    <% end %>
  </ul>
</body>
</html>